<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" th:href="@{'/css/main.css'}">
</head>
<body>

<form th:action="@{/saveContact}" method="post" th:object="${contact}" enctype="multipart/form-data">
    <input type="text" th:field="*{name}" placeholder="name">
    <input type="email" th:field="*{email}" placeholder="email">
    <input type="file" name="picture">
    <input type="text" th:field="*{phoneList}" placeholder="phoneList">
    <input type="submit">
</form>

<!--<form th:action="@{/saveContact}" method="post">-->
    <!--<input name="name" placeholder="name">-->
    <!--<input name="email" placeholder="email">-->
    <!--<input name="phoneList" placeholder="phoneList">-->
    <!--<input type="submit">-->
<!--</form>-->

<ul>
    <li th:each="contact : ${contacts}">
        <a th:href="@{'details-' + ${contact.id}}" th:text="'details of contact ' + ${contact.id}"></a>
        <div>
            <img th:src="@{'/ava/' + ${contact.avatar}}" >
        </div>
    </li>
</ul>

</body>
</html>